
.topnav {
    overflow: hidden;
    background-color: #C0DBEA;
  }
  
  .topnav label {
    float: left;
    color: black;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav label:hover {
    color: #537188;
  }
  
  .left{
    position: relative;
    float: right;
    margin-right: 50px;
  }
  .icon{
    cursor: pointer;
   
  padding-left:50px ;
  
  }
  
  

  
  .style-table { 
    table-layout: fixed;
    width: 90%;
    margin-top: 60px;
    margin-left: 80px;
    text-align: left;
    background-color: lemonchiffon;
    border-collapse: collapse; 
    }
  .style-table th { 
    background-color: goldenrod;
    color: white; 
    }
  .style-table td, 
  .style-table th { 
    padding: 10px;
    border: 1px solid goldenrod; 
    }
  
  



form{
    margin-top: 50px;
 margin-left: 30%;
    width: 30%;

}