.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #eeeeee;
}
#container {
  font-size: 2rem;
  margin-top: 100px;
  text-align: center;
}

#incrementbtn {
  width: 200px;
  margin-top: 8px;
  padding: 15px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #387cb9;
  color: white;
}
#incrementbtn:hover {
  border: 2px solid #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
  background-color: #205295;
}

#decrementbtn {
  width: 200px;
  margin-top: 8px;
  padding: 15px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #387cb9;
  color: white;
}
#decrementbtn:hover {
  border: 2px solid #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
  background-color: #205295;
}
