.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #2479f0;
}

table{
   width: 25%;
    border-spacing: 5px 5px;
  
}


  
.inputext{
    width: 210px;
    margin-left: 10px;
    margin-right: 10px;
    
}


td{
    
    text-align: center;
  
}

input[type="checkbox"]{
    
    width: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-right: 10px; */
}

div{
    margin-left: 15px;
    text-align: left;
}
.btn{
margin: auto;
width: 100px;
height: 40px;

}

/* input{
    padding-left: 5px;
    padding-right: 5px;
} */